h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    color: blue;
}

h4{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    color:darkorange;
}

#menu{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: blue;
}
    
a:link,    
    a:visited {
	text-decoration: none;
    color: seagreen;
	}
    a:hover {
	/*text-decoration: underline; */
    text-decoration: none;
	color: deepskyblue;
    font-size: 16px;
	}
    a:active {
	text-decoration: none;
    color: seagreen;
	}
}